.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  cursor: pointer;
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 4px;
}

.dropdown-trigger svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.dropdown-menu {
  position: absolute;
  min-width: 160px;
  background-color: var(--clr-comp);
  border: 1px solid var(--clr-bdr);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 1000;
  border-radius: 4px;
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}

/* Alignment classes */
.bottom-left { top: 100%; left: 0; }
.bottom-right { top: 100%; right: 0; }
.top-left { bottom: 100%; left: 0; }
.top-right { bottom: 100%; right: 0; }

.dropdown-menu-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-menu-item:hover {
  background-color: var(--clr-comp-hover);
}
