.skills-header {
    display: flex;
}

.play-mode {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p {
        margin: 0;
        color: var(--clr-accent);
    }
}

.play-info {
    font-size: 12px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}